.buttons{
  display: flex;
  width: auto;;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.randomContainer{
  margin-right: 10px;
}
.resetContainer{
  margin-left: 10px;
}

.randomButton{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold 700;
  color: white;
  background-color: #E5B6D5;
  border-style: : solid;
  border-width: 5px;
  border-color: #B2479A #CC7FB5 #B2479A #CC7FB5;
  height: 100px;
  width: 150px;
}
.randomButton:hover{
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5
}

.reset:hover{
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5
}


.reset{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold 700;
  color: white;
  background-color: #E5B6D5;
  border-style: : solid;
  border-width: 5px;
  border-color: #B2479A #CC7FB5 #B2479A #CC7FB5;
  height: 100px;
  width: 150px;
}



@media screen and (max-width: 500px){
  .buttons{
    flex-direction: column;
  }
  .resetContainer{
    margin-left: 0;
    margin-top: 10px;
  }
  .randomContainer{
    margin-right: 0;
    margin-bottom: 10px;
  }
}
